#root {
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.left {
  flex: 1;
  padding: 0px 5rem;
}
.right {
  flex: 1;
  padding: 0px 5rem;
}

.post {
  border: 1px solid #d1d1d1;
  margin-top: 1rem;
}
